<html>
<head><title>Takebook</title>
    {% load static %}
<link rel="icon" type="image/png" href="{% static 'login/images/icons/TB_logo.png' %}"/>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/frame.css' %}">
</head>
<body>
     <!-- Nav bar implementation -->
	<header class="header" style="height: 10%;">
		<h1 class="logo"><a href="{% url 'home:home' %}">Takebook</a></h1>
      <ul class="main-nav">
        
        <li><a href="{% url 'Profile:profile' %}">Profile</a></li>
        <li><a href="{% url 'findfriend:find' %}">Get Friends</a></li>
        <li><a href="{% url 'chatarea:chat' %}">Chat</a></li>
        <li><a href="{% url 'home:logout' %}">Log Out</a></li>
      </ul>
    </header>
    <!-- navbar implemented -->
    
<div id='groups'>
  <div id="info">
    <p>Click on the names to Chat.</p>
 </div>
 {% for i in friend %}
 
 <div id = "namesid" class="names" onclick="redirect('{{ i.mFriendUser.mUsername }}')">
  <div id = "profile" class="profile_img"><img class="profile_img" src="../../{{ i.mFriendUser.mImage }}"></div>
  <div class="profile_name"><p>{{ i.mFriendUser.mName }}</p></div>
</div>
 {% endfor %}
</div>
<iframe id = "frameit" class="frame1" src="">
</iframe>

<script>
  var namesid = document.getElementById('namesid');
  var frameit = document.getElementById('frameit');

  function redirect(str){
    url = "/chat/"+str;
    frameit.src = url;
  }

</script>
</body>
</html>