#textmsg {
  outline: 0;
  width: 80%;
  border-width: 0 0 2px;
  border-color: blue;
  background: none;
  padding: 10px;
  font-size: 15px;
}
#textmsg:focus {
  border-color: green
}
.button {
  display: inline;
  width:15%;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} 

.sender{
  padding: 15px;
  margin-top: 10px;
  font-size: 15px;
  width: fit-content;
  margin-left: 7%;
  border-radius: 10px;
  background-color: #80ff80;
}

.receiver{
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  width: fit-content;
  margin-left: 75%;
  background-color: #FF6666;
}

#msgform{
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  padding: 5px; 
  height: 10%;
  margin: 650px 0px 0px 0px;
  background-color: #ffffbe;
}

#msgarea{
  margin-bottom: 75px;
  display: block;
}

